<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732552491920-g8ldge1tp65757dea7jsqtvru850sclp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732552491920-g8ldge1tp65757dea7jsqtvru850sclp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>732552491920-qcl6bfepfltv8c0ons9k368e41lqpgom.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>API KEY HERE</string>
	<key>GCM_SENDER_ID</key>
	<string>732552491920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.produzionisiliconesi.eeloo</string>
	<key>PROJECT_ID</key>
	<string>eeloo-579a4</string>
	<key>STORAGE_BUCKET</key>
	<string>eeloo-579a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732552491920:ios:55e58adb86f9b82a1cf915</string>
	<key>DATABASE_URL</key>
	<string>https://eeloo-579a4-default-rtdb.firebaseio.com</string>
</dict>
</plist>